<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteCond %{HTTP_HOST} !^www\.dshops\.com$ [NC]
    #RewriteRule ^(.*)$ http://www.dshops.com/$1 [R=301,L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

RewriteEngine On
RewriteRule .* - [E=HTTP_IF_MODIFIED_SINCE:%{HTTP:If-Modified-Since}]
RewriteRule .* - [E=HTTP_IF_NONE_MATCH:%{HTTP:If-None-Match}]

#RewriteEngine on
#RewriteCond %{HTTP:Accept-Encoding} gzip
#RewriteCond %{REQUEST_FILENAME}.jgz -f
#RewriteRule (.*)\.js$ $1\.js.jgz [L]
#AddType "text/javascript" .js.jgz
#AddEncoding gzip .jgz

#RewriteEngine on
#RewriteCond %{HTTP:Accept-Encoding} gzip
#RewriteCond %{REQUEST_FILENAME}.cgz -f
#RewriteRule (.*)\.css$ $1\.css.cgz [L]
#AddType "text/javascript" .css.cgz
#AddEncoding gzip .cgz

AddEncoding x-gzip .cgz
AddType text/css .cgz
# Compressed javascript files
AddEncoding x-gzip .jgz
AddType application/x-javascript .jgz